h1{
   color: blueviolet; 
   background-color: black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 60px;
   align-self: auto;
 
}
h2{
    color:darkmagenta;
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-left: 40px;

}
li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    line-height: 2;
    margin-left: 70px;
}

.encanta{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(15, 9, 49);
    line-height: 40px;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(190, 152, 152);
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    box-sizing: border-box;

}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-style: italic;
    color: darkmagenta;

}

label{
    font-size: 30px;
    font-family: initial;
    text-transform: uppercase;
    
}