h1 {
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;

}

h2 {
    color: darkmagenta;
    background-color: antiquewhite;
    background-size: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-left: 40px;

}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    line-height: 2;
    margin-left: 170px;
}

.encanta {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(15, 9, 49);
    line-height: 40px;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(190, 152, 152);
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    box-sizing: border-box;

}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-style: italic;
    color: darkmagenta;

}

label {
    font-size: 30px;
    font-family: initial;
    text-transform: uppercase;

}

.box {
    background: rgba(165, 0, 255, 0.62);
    background: radial-gradient(circle farthest-corner at top center, rgba(165, 0, 255, 0.62) 0%, #e8c2f3 80%);
    background: -webkit-radial-gradient(circle farthest-corner at top center, rgba(165, 0, 255, 0.62) 0%, #e8c2f3 80%);
    background: -moz-radial-gradient(circle farthest-corner at top center, rgba(165, 0, 255, 0.62) 0%, #e8c2f3 80%);
    background-size: auto;
    border: 5px double #6e0070;
    border-radius: 10px 200px 200px 200px;
    -webkit-border-radius: 10px 200px 200px 200px;
    -moz-border-radius: 10px 200px 200px 200px;
    box-shadow: 18px 15px 23px 0px rgba(63, 44, 107, 0.46);
    -webkit-box-shadow: 18px 15px 23px 0px rgba(63, 44, 107, 0.46);
    -moz-box-shadow: 18px 15px 23px 0px rgba(63, 44, 107, 0.46);

}

.box2 {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 20px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 20px;
    column-rule: 4px dotted #af36c0;
    -webkit-column-rule: 4px dotted #af36c0;
    -moz-column-rule: 4px dotted #af36c0;
}

.box3 {
    background: rgba(119, 0, 255, 0.2);
    background: linear-gradient(340deg, rgba(119, 0, 255, 0.2) 0%, rgba(231, 133, 205, 0.54) 80%);
    background: -webkit-linear-gradient(340deg, rgba(119, 0, 255, 0.2) 0%, rgba(231, 133, 205, 0.54) 80%);
    background: -moz-linear-gradient(340deg, rgba(119, 0, 255, 0.2) 0%, rgba(231, 133, 205, 0.54) 80%);
    font-family: 'Akaya Kanadaka', cursive;
    font-family: 'Aref Ruqaa', serif;
    font-family: 'Beau Rivage', cursive;
    font-family: 'Gochi Hand', cursive;
    font-family: 'Henny Penny', cursive;
    font-family: 'Kranky', cursive;
    font-family: 'Kurale', serif;
    font-family: 'Mansalva', cursive;
    font-family: 'Mountains of Christmas', cursive;
    font-family: 'Princess Sofia', cursive;
    font-family: 'Rancho', cursive;
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    padding: 20px;
    box-shadow: 14px 14px 20px 5px rgba(194, 78, 189, 0.56);
    -webkit-box-shadow: 14px 14px 20px 5px rgba(194, 78, 189, 0.56);
    -moz-box-shadow: 14px 14px 20px 5px rgba(194, 78, 189, 0.56);
    border-radius: 0px 40px 0px 41px;
    -webkit-border-radius: 0px 40px 0px 41px;
    -moz-border-radius: 0px 40px 0px 41px;
    border: 6px solid #760070;
}

.titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 70px;
    background: #a35af6;
    border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    border: 6px dotted #4f1650;


}